@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 44, 44);
    height: 400px;
    width: 700px;
    border: 2px solid aliceblue;
    border-radius: 7px;
}

#crearmisionesmapa {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 44, 44);
    height: 400px;
    width: 700px;
    border: 2px solid aliceblue;
    border-radius: 7px;
}

#guardarmisionessql {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 44, 44);
    height: 400px;
    width: 700px;
    border: 2px solid aliceblue;
    border-radius: 7px;
}

button {
    position: fixed;
    top: 20%;
    margin-bottom: 7%;
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

button:hover{
    color: #1883ba;
    background-color: #ffffff;
}


input {
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    padding: 12px;
}

h2 {
    position: center;
}

/*h1 {
    position: center;
    font-size: 40px;
    margin-top: 4%;
    margin-left: 29%; 
}*/

p {
  position: fixed;
  font-size: 15px;
  margin-top: 6%;
  margin-left: 18%; 
}

body {
  background: hsla(0, 0%, 0%, .9); 
}

h1 {
  color: #ffffff;
  font-family: 'Black Ops One', cursive;
  position: fixed;
  font-size: 40px;
  margin-top: 4%;
  margin-left: 16%; 
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}